.apple, .cherry, .watermelon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(29, 190, 29);
  padding: 40px 20px;
  border-radius: 12px;
}

.apple-img, .watermelon-img, .cherry-img {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(pink, purple);
}

button {
  background-color: lightgreen;
}